.user-avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    margin-top: 3.269rem;
}

.user-avatar ion-avatar {
    height: 100%;
    margin: 0;
    width: 25%;
}

.welcome-back {
    font-family: "Raleway";
    font-size: 1.1rem;
    margin-bottom: 3.688rem;
    text-align: center;
}

.login-buttons ion-row {
    margin-bottom: 1.563rem;
}