.user-avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    margin-top: 3.269rem;
}

.user-avatar ion-avatar {
    height: 100%;
    margin: 0;
    width: 25%;
}

.welcome-back {
    font-family: "Raleway";
    font-size: 18px;
    margin-bottom: 3.688rem;
    text-align: center;
}

.login-buttons ion-row {
    margin-bottom: 1.563rem;
}

ion-button.secondary-buttons {
    --border-width: thin;
    --box-shadow: none;
    font-family: "Raleway-Bold";
    font-size: 18px;
    height: 3.438rem;
    line-height: 21px;
    margin: 0;
    padding-left: 3.375rem;
    padding-right: 3.375rem;
    white-space: pre-wrap;
}