<ion-content>

    <app-logo-header></app-logo-header>

    <ion-grid class="ion-no-padding welcome-img">
        <ion-row>
            <ion-col class="ion-no-padding">
                <ion-img [src]="'assets/imgs/welcome.png'" alt="welcome"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="title-on-boarding">
        <ion-row>
            <ion-col class="ion-no-padding">
                <ion-label>{{'welcomeHeader' | translate}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="ion-no-padding welcome-message-on-boarding">
        <ion-row>
            <ion-col class="ion-no-padding">
                <ion-label>{{'welcomeMessage' | translate}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col class="ion-no-padding ion-text-center">
                <ion-button class="primary-buttons" (click)="executeStart()" shape="round" expand="full">
                    {{'buttonStart' | translate}}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>