ion-tabs {
    background: var(--ion-color-tertiary);
}

ion-tab-bar {
    --background: var(--ion-color-primary-contrast);
    border-radius: 1.25rem 1.25rem 0 0;
    height: 2.938rem;
    justify-content: space-around;
}