<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="compass-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="filter-brands">
            <ion-icon name="list-outline"></ion-icon>
        </ion-tab-button>

    </ion-tab-bar>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button>
            <ion-icon name="cart-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-tabs>