@font-face {
    font-family: "Raleway";
    src: url(../assets/fonts/Raleway/static/Raleway-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Raleway-Bold";
    src: url(../assets/fonts/Raleway/static/Raleway-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}