// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    /** primary **/
    --ion-color-primary: #f47f1f;
    --ion-color-primary-rgb: 244, 127, 31;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #d7701b;
    --ion-color-primary-tint: #f58c35;
    /** secondary **/
    --ion-color-secondary: #4f4e4e;
    --ion-color-secondary-rgb: 79, 78, 78;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #464545;
    --ion-color-secondary-tint: #616060;
    /** tertiary **/
    --ion-color-tertiary: #f6f6f6;
    --ion-color-tertiary-rgb: 246, 246, 246;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #d8d8d8;
    --ion-color-tertiary-tint: #f7f7f7;
    /** success **/
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;
    /** warning **/
    --ion-color-warning: #FFD056;
    --ion-color-warning-rgb: 255, 208, 86;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0b74c;
    --ion-color-warning-tint: #ffd567;
    /** danger **/
    --ion-color-danger: #FF1F2C;
    --ion-color-danger-rgb: 255, 31, 44;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e01b27;
    --ion-color-danger-tint: #ff3541;
    /** dark **/
    --ion-color-dark: #000000;
    --ion-color-dark-rgb: 0, 0, 0;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #000000;
    --ion-color-dark-tint: #1a1a1a;
    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    /** Text Color **/
    --ion-text-color: var(--ion-color-secondary);
    --ion-text-color-rgb: 201, 199, 199;
    --ion-text-color-contrast: #DCDCDC;
    --ion-text-color-shade: #BDBCBC;
    --ion-text-color-tint: #000000;
    /** Text Color Customs  **/
    --ion-color-discount-price: #F8BA88;
}

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";