ion-button.search-icon {
    font-size: 1rem;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
}

ion-button.search-icon ion-icon {
    margin: 0;
}

ion-item {
    --inner-padding-end: 0;
}

ion-toolbar {
    --padding-end: 1rem;
}

ion-col.discover {
    padding-bottom: 0;
}

ion-label.discover-title {
    margin-bottom: 0;
}

ion-col.app-product-list {
    padding-top: 0;
}