<ion-content>
    <ion-toolbar>
        <ion-item class="ion-no-padding" lines="none">
            <ion-avatar slot="start" [routerLink]="['/', 'profile']">
                <img [src]="userProfile?.picture.thumbnail" />
            </ion-avatar>
            <ion-label [routerLink]="['/', 'profile']">{{'WELCOME_LBL' | translate }}, {{ userProfile?.fullName | split: " ": 0 }}</ion-label>
            <ion-button class="search-icon" fill="clear">
                <ion-icon color="dark" slot="end" name="search"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-toolbar>
</ion-content>