ion-button.search-icon {
    font-size: 16.67px;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
}

ion-button.search-icon ion-icon {
    margin: 0;
}

ion-item {
    --inner-padding-end: 0;
}

ion-toolbar {
    --padding-end: 1.313rem;
    --padding-start: 1.313rem;
}