ion-col.product-list-container-col {
    padding-right: 0;
}

ion-grid.product-list-container-grd {
    padding-right: 0;
}

ion-card.products-card {
    border-radius: 1.25rem;
    box-shadow: 0px 5px 10px 2px rgba(var(--ion-color-dark-rgb), 0.2);
    height: 10.875rem;
    margin: 0;
    width: 94.34%;
}

ion-card-header.products-header-card {
    height: 26%;
    padding: 0.25rem 0.9375rem 0 1rem;
}

ion-card-content.product-content-card {
    height: 75%;
    padding: 0;
}

ion-card-subtitle.product-brand {
    font-family: 'Poppins-Medium';
    font-size: 0.625rem;
    line-height: 0.9375rem;
}

ion-card-title.product-name {
    color: var(--ion-color-dark);
    font-family: 'Poppins-Medium';
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin: 0;
}

ion-grid.product-header-grd {
    --min-height: 0px;
    padding: 0;
}

ion-col.product-name-col {
    align-self: center;
    padding: 0;
}

ion-item {
    --border-width: 0;
    --inner-border-width: 0;
    --inner-padding-end: 0;
    --padding-start: 0;
}

ion-col.product-img {
    display: flex;
    justify-content: center;
    padding: 0;
}

ion-img.product-img-picture {
    transform: rotate(25deg);
    z-index: 1;
}

div.product-img-div {
    display: flex;
    height: 4.4375rem;
    margin: 0;
    width: 35.7%;
}

ion-item.product-header {
    --min-height: 0px;
}

ion-button.product-favorite-btn {
    margin: 0;
}

div.product-favorite-dv {
    display: flex;
    justify-content: center;
}

ion-col.product-favorite-icon-col {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    height: 1.125rem;
    justify-content: center;
    padding: 0;
}

div.container-polygon {
    display: flex;
    left: 45%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 20%;
}

.polygon {
    background-color: var(--ion-color-primary);
    opacity: 0.1;
    position: relative;
    text-align: left;
    transform: rotate(42deg) skewX(-30deg) scale(1, 0.866);
}

.polygon:before,
.polygon:after {
    background-color: inherit;
    content: '';
    position: absolute;
}

.polygon,
.polygon:before,
.polygon:after {
    border-top-right-radius: 46%;
    height: 3.0rem;
    margin: 0 auto;
    width: 3.0rem;
}

.polygon:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
}

.polygon:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
}

ion-col.products-card-col {
    height: fit-content;
}

ion-item.product-price-item {
    --min-height: 0;
}

ion-col.product-price-col {
    padding: 0;
}

ion-list.rating-list {
    padding: 0;
    ion-icon {
        height: 0.7125rem;
        width: 0.75rem;
    }
}

ion-col.rating-list-col {
    line-height: normal;
    padding: 0;
}

ion-grid.product-content-grd {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}

ion-grid.card-footer-grd {
    padding: 0.25rem 0 0 1rem;
}

ion-row.card-footer-row {
    position: absolute;
    width: 100%;
}

ion-col.card-footer-col {
    padding: 0;
}

ion-row.product-img-row {
    height: 68%;
}

ion-col.price-info {
    padding: 0;
    padding-left: 1rem;
}

ion-col.button-add-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
}

ion-button.button-add {
    --border-radius: 1.25rem 0;
    height: 2.75rem;
    margin: 0;
}