<ion-grid class="grid-no-padding">
    <ion-row>
        <ion-col class="product-list-container-col">
            <ion-list *ngIf="!isLoading">
                <ion-grid class="product-list-container-grd">
                    <ion-row>
                        <ion-col size="6" *ngFor="let product of products, let i = index">
                            <ion-card class="products-card" *ngIf="!isOpenAddCartList[i]">
                                <ion-card-header class="products-header-card">
                                    <ion-card-subtitle class="product-brand">{{ product.brand }}</ion-card-subtitle>
                                    <ion-grid class="product-header-grd">
                                        <ion-row>
                                            <ion-col size="10" class="product-name-col">
                                                <div>
                                                    <ion-card-title slot="start" class="product-name">
                                                        {{ product.product_name }}
                                                    </ion-card-title>
                                                </div>
                                            </ion-col>
                                            <ion-col class="product-favorite-icon-col" size="2">
                                                <div class="product-favorite-dv">
                                                    <ion-button class="product-favorite-btn" slot="end" fill="clear" (click)="setProductIsFavorite(product.id, i, !product.is_favorite)">
                                                        <ion-icon [class.is-favorite]="product.is_favorite" [class.is-favorite-disabled]="!product.is_favorite" slot="icon-only" name="heart-circle">
                                                        </ion-icon>
                                                    </ion-button>
                                                </div>

                                            </ion-col>

                                        </ion-row>
                                    </ion-grid>
                                </ion-card-header>
                                <ion-card-content class="product-content-card">
                                    <ion-grid class="product-content-grd">
                                        <ion-row class="product-img-row">
                                            <ion-col class="product-img">
                                                <div class="container-polygon">
                                                    <div class="polygon"></div>
                                                </div>
                                                <div class="product-img-div">
                                                    <ion-img class="product-img-picture" [src]="product.product_image">
                                                    </ion-img>
                                                </div>
                                            </ion-col>
                                        </ion-row>


                                        <ion-row>
                                            <ion-col size="8" class="price-info">
                                                <ion-row>
                                                    <ion-col size="9" class="product-price-col">
                                                        <ion-item class="product-price-item">
                                                            <ion-label class="product-price">{{ +product.product_price | currency }}</ion-label>
                                                        </ion-item>
                                                    </ion-col>
                                                </ion-row>

                                                <ion-row>
                                                    <ion-col size="9" class="rating-list-col">
                                                        <ion-list class="rating-list">
                                                            <ion-icon color="warning" slot="start" [name]="product.score >= 1 ? 'star' : 'star-outline'">
                                                            </ion-icon>
                                                            <ion-icon color="warning" slot="start" [name]="product.score >= 2 ? 'star' : 'star-outline'">
                                                            </ion-icon>
                                                            <ion-icon color="warning" slot="start" [name]="product.score >= 3 ? 'star' : 'star-outline'">
                                                            </ion-icon>
                                                            <ion-icon color="warning" slot="start" [name]="product.score >= 4 ? 'star' : 'star-outline'">
                                                            </ion-icon>
                                                            <ion-icon color="warning" slot="start" [name]="product.score >= 5 ? 'star' : 'star-outline'">
                                                            </ion-icon>
                                                        </ion-list>
                                                    </ion-col>
                                                </ion-row>
                                            </ion-col>
                                            <ion-col *ngIf="isDiscover" size="4" class="button-add-col">
                                                <ion-button class="button-add" (click)="setIsOpenAddCartList(i, true)">
                                                    <ion-icon slot="icon-only" name="add"></ion-icon>
                                                </ion-button>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-card-content>
                            </ion-card>

                            <ion-card class="products-card" *ngIf="isDiscover && isOpenAddCartList[i]">
                                <ion-card-header class="add-to-favorites-card-header">
                                    <div class="add-divs add-to-favorite-div" (click)="setProductIsFavorite(product.id, i, true)">
                                        <p class="add-txts add-to-favorites-txt">{{ 'addFavorites' | translate }}</p>
                                    </div>
                                    <ion-fab vertical="top" horizontal="end">
                                        <ion-fab-button class="close-add-section-fab" (click)="setIsOpenAddCartList(i, false)">
                                            <ion-icon name="chevron-down-outline"></ion-icon>
                                        </ion-fab-button>
                                    </ion-fab>
                                </ion-card-header>
                                <ion-card-content class="add-to-favorites-card-content">
                                    <div class="add-divs add-to-cart-div" (click)="addProductToCart(product, i)">
                                        <ion-icon class="add-to-cart-icon" src="assets/icon/add_shopping_cart.svg">
                                        </ion-icon>
                                        <p class="add-txts add-to-cart-txt">{{ 'addCart' | translate }}</p>
                                    </div>
                                </ion-card-content>
                            </ion-card>

                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list>


            <ion-list *ngIf="isLoading">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-card class="products-card">
                                <ion-card-header class="products-header-card">
                                    <ion-card-subtitle class="product-brand">
                                        <ion-skeleton-text animated style="width: 100%; height: 2vh; margin: 4% 0;">
                                        </ion-skeleton-text>
                                    </ion-card-subtitle>
                                    <ion-card-title class="product-name">
                                        <ion-skeleton-text animated style="width: 100%; height: 2vh; margin: 4% 0;">
                                        </ion-skeleton-text>
                                    </ion-card-title>
                                </ion-card-header>
                                <ion-card-content class="product-content-card">
                                    <ion-skeleton-text animated style="width: 100%; height: 2vh; margin: 4% 0;">
                                    </ion-skeleton-text>
                                    <ion-skeleton-text animated style="width: 100%; height: 2vh; margin: 4% 0;">
                                    </ion-skeleton-text>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list>

        </ion-col>
    </ion-row>
</ion-grid>